

@font-face{
    font-family: Abel;
    src:url('../fonts/Abel-Regular.ttf')
}
@font-face{
    font-family: Hurricane;
    src:url('../fonts/Hurricane-Regular.ttf')
}
@font-face{
    font-family: Lexend;
    src:url('../fonts/static/Lexend-Regular.ttf')
}
@font-face{
    font-family: Livic;
    src:url('../fonts/Livvic-Regular.ttf')
}