 
@import url('../css/fonts.css');

 html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    background: url(../images/1.jpg) center center ;
    background-size: 80vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
 }

 /* .bgWrap{
    background: center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 } */

 :root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
 }

/*-----global classes-----*/
a{
    text-decoration: none;
    color: var(--text-gray);
 }

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}




/*-----global classes-----*/

 /*--------navbar-------*/

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.2rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-brand a{
    /* font-size: 1.6rem; */
    padding: 1rem 0;
    display: block;
    font-family: Abel;
    font-size: 1.6rem;
}


.nav .nav-items{
    display: flex;
    /* font-size: px; */
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1.4rem;
    /* font-size: 1.1rem; */
    position: relative;
    font-family: Abel,cursive;
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: rgba(0, 0, 0, 0.845);
}

.nav .nav-items .nav-link:hover a{
    color: white;
}


 /*-----------navbar----------*/


 /*-----viewport less than or equal to 750px-----*/
 
 @media only screen and (max-width: 750px){
   .nav .nav-menu, .nav .nav-items{
       flex-direction: column;
   }

   .nav .toggle-collapse{
       display: initial;
   }
 }




 /*-----viewport less than or equal to 750px-----*/

 h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(1, 0, 5);
 }
 .hero_section{
        margin: 30vh;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        border: 3px solid rgb(0, 0, 0);
        padding: 30px;
}
